body{
	display: flex;
	flex-direction: column;
	align-items: center;
}

input{
	border:2px solid black;
	width: 300px;
	height: 20px;
	padding: 5px;
	border-radius: 50px;
}
#addButton
{
	width: 300px;
	height: 20px;
	/*padding: 5px;*/
	/*margin-top: 2px;
	margin-bottom: 2px;*/
	background-color: lime;
	border:none;
	border-radius: 10px;
}
#clearButton{
	width: 300px;
	/*height: 20px;
	padding: 5px;
	margin-top: 2px;*/
	background-color: red;
	border:none;
	border-radius: 10px;
}
ul{
	list-style-type: none;
	width: 300px;
	margin: 0;
	padding: 0;
}
li{
	background-color: lightpink;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	
}

.done{
	text-decoration-line: line-through;
}